# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
CommanderChris.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
CommanderChris.xcodeproj/project.xcworkspace/xcuserdata/markorenic.xcuserdatad/WorkspaceSettings.xcsettings
CommanderChris.xcodeproj/xcshareddata/xcschemes/CommanderChris.xcscheme
CommanderChris/build